#btn-login{
    color: #fff;
    font-size: 14px;
    border-radius: 8px;
    background: #0886FB;
    border: none;
    padding: 5px 15px;
    margin: 0 5px;
}

.nav-item {
    font-size: 14px;
}

.header-description {
    max-width: 425px;
    font-size: 16px;
}

#btn-start {
    color: #fff;
    font-size: 14px;
    border-radius: 8px;
    background: #0886FB;
    border: none;
}

#about .icon{
    color: #0886FB;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    margin-right: 10px;
}

#services {
    font-size: 16px;
}

#join {
    background: #DFEFFE;
}

#join form{
    max-width: 365px;
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
}

footer .copy-right{
    background: #DFEFFE;
}

footer >div{
    padding: 50px 0;
}

#footer-services .icon{
    color: #0886FB;
}

#footer-socmed a {
    background: #0886FB;
    margin-left: 5px;
}
#footer-socmed .icon {
    color: #fff;
    font-size: 14px;
}
